<div class="form-layout">
    <div class="form">
        <form [formGroup]="transactionForm">
            <input formControlName="amount" type="text" placeholder="amount"/>
            <textarea type="text" formControlName="description" placeholder="description"></textarea>
            <input formControlName="repetitive" type="checkbox"/>
            <input formControlName="category" placeholder="category"/>
            <button (click)="printForm()">Add</button>
        </form>
    </div>
</div>
