<div class="form-layout">
    <div class="form" *ngIf="transactionForm">
        <form [formGroup]="transactionForm">
            <input #formControl formControlName="amount" type="text" placeholder="amount"/>
            <small>{{transactionForm.get('amount')?.errors | formatErrors}}</small>
            <div class="form-group">
                <textarea formControlName="description" placeholder="description" class="form-control"
                          rows="3"></textarea>
                <small>{{transactionForm.get('description')?.errors | formatErrors}}</small>
            </div>
            <div class="custom-control custom-checkbox">
                <input formControlName="repetetive" type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Repetitive</label>
            </div>
            <small class="error-placeholder">{{transactionForm.get('repetetive')?.errors | formatErrors}}</small>

            <ng-template [ngIf]="transactionForm.get('repetetive').value">

                <select class="custom-select" formControlName="repeatInterval">
                    <option *ngFor="let repeatInterval of repeatIntervals" [value]="repeatInterval.id">
                        {{repeatInterval.label}}
                    </option>
                </select>
                <small class="error-placeholder">{{transactionForm.get('repeatInterval')?.errors | formatErrors}}</small>
                <label> Starting date</label>
                <input type="date" formControlName="startingDate">
                <small class="error-placeholder">{{transactionForm.get('startingDate')?.errors | formatErrors}}</small>
            </ng-template>


            <select class="custom-select" formControlName="category">
                <option *ngFor="let category of transactionCategories" [value]="category.id">{{category.label}}</option>
            </select>
            <small>{{transactionForm.get('category')?.errors | formatErrors}}</small>
            <button (click)="printForm()">Add</button>
        </form>
    </div>
</div>





